/* 
    Html reset
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#site-header-container {
    height: 100px;

    background-color: #4ea0ff;
    background-image: url("./img/pattern.png");
    background-position: top;
    background-size: 400px;
    background-repeat: repeat-x;
}

#site-header {
    height: 100%;
    width: 100%;

    position: relative;
}

#site-logo {
    height: 3rem;

    position: absolute;
    bottom: 10px;
    left: 10px;
}