/* 
    Html reset
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#site-header-container {
    height: 100px;

    background-color: #4ea0ff;
    background-image: url("./img/pattern.png");
    background-position: top;
    background-size: 400px;
    background-repeat: repeat-x;
}

#site-header {
    height: 100%;
    width: 100%;
}

#site-logo {
    height: 3rem;

    margin: 50px 0 0 10px;
}

#site-main-container {
    width: 100%;
}

#article-section {
    width: 98%;

    margin: 0 auto;
}

#article-title {
    width: 100%;

    margin: 30px 0 30px;
}

h1 {
    font-size: 38px;
    
    line-height: 40px;
}

#article-title p {
    color: #868686;

    line-height: 16px;
}

#article-title p span {
    color: #4ea0ff;

}

#article-date {
    font-size: 12px;
}